html, body{
	height: 100%;
}

body{
	display: flex;
	flex-direction: column;
}

main{
	flex: 1 0 auto;
}

footer{
	flex-shrink: 0;
}

header {
background-image: url(ica.jpg);
background-size: cover;
color: white;
}

.color-overlay {
background-color: rgba(0,0,0,0.4);
min-height: 60vh;
}

.farlight{
	fontsize: 7vw;
	font-weight: bolder;
}
.singleCol {
max-width: 750px;
}

footer{
	background-color: #3a3a3a;
}

footer a{
	color: white;
}

footer a:hover{
	color: #dfdfdf
}
@media (max-width: 768px){
.color-overlay{
min-height: 30vh;
}
}